:root {
    --white-100: #ffffff;

    --black-100: #000000;
    --black-200: #4C4C4C;
    --black-300: #666666;
    --black-400: #777777;
    --black-500: #F2F2F2;

    --primary-100: #98C80E;
    --primary-200: #D0E596;
    --primary-300: #F5FCE0;
    --primary-700: #8DBA0C;
    --primary-800: #7BA20B;
}

html,
body {
    scroll-behavior: smooth;
    min-height: 800px;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.button-primary-lg {
    font-family: "Inter", sans-serif;
    background-color: var(--primary-100);
    color: var(--white-100);
    border: none;
    padding: 16px 32px 16px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 200px;
    cursor: pointer;
    animation-delay: 0.2s;

}

.button-primary-lg:hover {
    background-color: var(--primary-800);
    transition: 0.3s;
}

.button-secondary-lg {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: var(--white-100);
    color: var(--primary-800);
    padding: 16px 32px 16px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    border-radius: 200px;
    border: 1px solid var(--primary-200);
}

.button-secondary-lg:hover {
    transition: 0.2s;
    opacity: 20%;
}


.button-secondary-sm {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background-color: var(--white-100);
    color: var(--primary-800);
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    border-radius: 200px;
    border: 1px solid var(--primary-200);
}

.button-secondary-sm:hover {
    transition: 0.2s;
    opacity: 60%;
}



h1 {
    color: var(--black-100, #000);
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -1.28px;
    margin: 8px 0px 8px 0px;
}

h2 {
    color: var(--black-100, #000);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.44px;
    margin: 4px 0px 4px 0px;

}

h6 {
    color: var(--black-100, #000);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
}

a {
    color: var(--black-200);
    text-decoration: none;
    margin: 0 16px;
    padding: 8px 16px 8px 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 200px;
    cursor: pointer;
}

a:hover {
    transition: 0.6s;
    background-color: var(--black-500);
    color: var(--black-100);
}

.txt-16 {
    color: var(--black-100, #000);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 4px 0px 4px 0px;
}

.txt-20 {
    color: var(--black-100, #000);
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin: 4px 0px 4px 0px;
}




/************ single elements ************/

/*nav bar*/
nav {
    background-color: var(--white-100);
    padding: 24px 48px 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.nav-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo:hover {
    opacity: 0.8;
    transition: 0.3s;
}

.nav-menu-icon {
    display: none;
    margin-left: 20px;
}

.nav-menu-icon:hover {
    transition: 0.2s;
    opacity: 40%;
    cursor: pointer;
}

.nav-login-button {
    display: block;
}

@media (max-width: 1200px) {
    nav {
        flex-direction: row;
        padding: 16px 28px 16px 28px;
    }

    .nav-buttons {
        flex-direction: row;
    }

    .nav-buttons button {
        padding: 8px 16px 8px 16px;
        font-size: 14px;
    }

    .nav-login-button {
        display: none;
    }

    .nav-menu-icon {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu-open {
        display: block;
    }

    .nav-menu-close {
        display: block;
    }

    .nav-menu-options {
        display: block;
    }

    .nav-menu-options a {
        padding: 16px;
    }

}

@media (min-width: 768px) {
    .nav-menu-options {
        display: flex;
    }

    .nav-menu-options li {
        margin: 0 16px;
    }

    .nav-menu-options a {
        padding: 16px;
    }
}





/*body content*/
.main-section {
    height: auto;
    width: 100%;
    color: var(--white-100);
    gap: 190px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.section-1 {
    height: auto;
    flex-direction: column;
    padding: 100px 48px 40px 48px;
    background-color: var(--white-100);
    background-size: cover;
    background-position: center;
    min-height: 680px;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    color: var(--black-100);
    gap: 40px;
}

.section-1-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 92px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

.section-1-book-collection {
    width: 100%;
    height: 100%;
    min-height: 480px;
    padding-left: 92px;
    padding-right: 92px;
    background: #F6F6F6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-book-collection-container{
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-end;
    display: inline-flex;
    width: 100%;
    height: 100%;  
}

.section-1-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section-1-title {
    animation-delay: 0.2s;
}

.section-1-buttons{
    display: flex;
    gap: 12px;
}

.section-1-paragraph {
    animation-delay: 0.4s;
}



.section-2 {
    height: auto;
    flex-direction: column;
    padding: 0px 48px 0px 48px;
    background-color: var(--white-100);
    background-size: cover;
    background-position: center;
    min-height: 680px;
    display: flex;
    align-items: start;
    justify-content: start;
    color: var(--black-100);
    gap: 80px;
}

.section-2-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 92px 0px 92px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 100px;
    justify-content: center;
    width: 100%;
    padding: 0px 92px 0px 92px;
}

.card {
    background-color: #fff;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-6px);
    transition: 0.4s;
    cursor: default;
}

.card svg {
    margin-bottom: 16px;
}

.card-text {
    height: auto;
    display: flex;
    flex-direction: column;
}

.card-text h6 {
    margin-top: 0;
    margin-bottom: 4px;
}

.card-text p {
    font-size: 16px;
    color: var(--black-300);
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 26px;
}


@media (max-width: 768px) {
    h1 {
        font-size: 36px;
        line-height: 45px;
    }

    h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .section-1 {
        padding: 100px 28px 40px 28px;
    }

    .section-1-container {
        padding: 0;
    }

    .section-2 {
        padding: 100px 28px 40px 28px;
    }

    .section-2-container {
        padding: 0;
    }

    .card-grid {
        padding: 0;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 80px;
    }

    .card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .card-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}




.section-3 {
    height: auto;
    flex-direction: column;
    padding: 48px;
    background-color: var(--white-100);
    background-size: cover;
    background-position: center;
    min-height: 680px;
    display: flex;
    align-items: start;
    justify-content: start;
    color: var(--black-100);
}

.section-3-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 92px;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-8 {
    padding: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    height: auto;
    width: 100%;
}

.section-8-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0px 92px 0px 92px;
    height: auto;
    width: 100%;
}

.section-8 button {
    margin: 0;
}

.section-8 .txt-16{
    text-align: center;
    color: var(--black-400);
}

.section-8 h2 {
    text-align: center;
}

.section-footer {
    height: auto;
    width: 100%;
    min-height: 400px;
    background-color: var(--black-500);
}




/* animations */

.appear-animation {
    opacity: 0;
    animation: appear-animation 0.8s ease;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

@keyframes appear-animation {
    0% {
        opacity: 0;
        transform: translateY(24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}